span {
    color: blue;
}

.container {
    height: 92vh;
    width: 40vw;
    margin: 0 auto;
    border: .2em black solid;
    border-radius: 5px;
}

.container legend {
    font-size: 1.2em;
}

.flex {
    display: flex;
    margin-top: 1em;
}

.flex div {
    display: flex;
    align-items: center;
    width: 150px;
    margin-right: 10px;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: #fff;
    color: #000;
    border: .1em solid black;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

#btn-sub {
    margin-right: 10px;
}

#inf {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
