* {
    text-decoration: none;

}

body {
    background-color: #277BC0;
}

.container {
    height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 90%;
    height: 90%;
    margin: auto;
}

.main-container h2 {
    text-align: center;
}

.main-container img {
    width: 60%;
    margin-left: 12em;
}

.infos {
    width: 60%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.info-users-head {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.info-users-body {
    border: 1px solid seagreen;
    display: flex;
    justify-content: space-around;
}


.inputs {
    width: 30%;
    height: 100%;
    background-color: #FFCB42;
    border-radius: 5px;
}

.formulario {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.formulario label {
    margin-top: 15px;
    font-size: 1.1em;
    font-family: sans-serif;
    font-weight: 400;
}

.formulario input {
    margin-top: 5px;
    width: 90%;
    height: 20px;
    font-size: 15px;
}

.formulario button {
    margin-top: 20px;
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    background-color:#277BC0;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(94, 94, 94);
}